@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", sans-serif;
    @apply box-border border-0 dark:text-white;
  }

  input:focus,
  button:focus,
  textarea:focus {
    @apply outline-neutral-400 dark:!outline-neutral-700 outline-none outline-0;
  }

  p,
  label,
  h1,
  h2,
  h3,
  h4 {
    @apply m-0 text-base text-neutral-900;
  }
}
@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .material-symbols-outlined {
    user-select: none;
    @apply flex justify-center items-center;
  }
}
